@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika:wght@400;700&display=swap');

:root {
    --signika: 'Signika', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --title-bg-img: linear-gradient(90deg,#fadf7a,#e2a73e);
    --regular-text: #d9d8cb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}