#c0 {
    background-image: url('../assets/cards/avallach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c1 {
    background-image: url('../assets/cards/ciri.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c2 {
    background-image: url('../assets/cards/dandelion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c3 {
    background-image: url('../assets/cards/decoy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c4 {
    background-image: url('../assets/cards/geralt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c5 {
    background-image: url('../assets/cards/horn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c6 {
    background-image: url('../assets/cards/regis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c7 {
    background-image: url('../assets/cards/triss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c8 {
    background-image: url('../assets/cards/vesemir.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c9 {
    background-image: url('../assets/cards/villen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c10 {
    background-image: url('../assets/cards/yennefer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#c11 {
    background-image: url('../assets/cards/zoltan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


